{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
    },
    "extends": [
        //"standard",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 14,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
		"ignorePatterns": ["node_modules/*", "/node_modules/*"],
    "rules": {
        // 第一个参数:
        //      "off"或0 -关闭规则
        //      "warn"或1 - 开启规则, 使用警告 程序不会退出
        //      "error"或2 - 开启规则, 使用错误 程序退出
        // 第二个参数 
        //      always（默认）：在语句末尾需要分号 
        //      never ：不允许加分号
				"semi": [2, "always"],
        "quotes": ["error", "double"],
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": 0,
				"@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/no-inferrable-types": [
          "warn", {
            "ignoreParameters": false
          }
        ],
        "@typescript-eslint/no-unused-vars": 0
    }
}
